@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

body {
  background: black;
  color: white;
}

h1 {
  text-align: center;
  padding: 5px;
  font-family: "Caveat", cursive;
  font-size: 2.5em;
}

p {
  text-align: center;
  padding: 2px;
  font-size: 0.9em;
}

canvas {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 72%,
    rgb(31, 30, 30) 80%,
    rgb(82, 81, 81) 100%
  );
  height: 100%;
  position: absolute;
  width: 100%;
  overflow-x: auto;
}

.form-group {
  padding: 5px;
  font-size: 0.8em;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#control-panel {
  display: flex;
  justify-content: space-around;
  background: rgba(255, 72, 0, 0.5);
  width: 80%;
  margin: auto;
  min-height: 50px;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  outline: none;
  padding: 20px 30px;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  #control-panel {
    flex-direction: column;
  }
  .form-group {
    justify-content: space-between;
  }
}
